.clk-wdgt__wrpr {
    background: orange;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.clk-wdgt__btn-sets {
    width: 24px;
    height: 24px;
    background: white;
    align-self: flex-end;
}