@import "../base/_color.scss";

.clks-wkspc__wrpr {
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    background: $light-grey;
    height: 100%;
    align-items: flex-start;
}
