{
    "presets": ["env", "react", "es2016", "stage-1"],
    "plugins":
    [
        "react-hot-loader/babel",
        [
            "module-resolver",
            {
                "root": ["./src"]
            }
        ],
        "transform-decorators-legacy"
    ]
}

